.wrap {
    display: flex;
    flex-direction: column;
    padding: 24px;
    width: 498px;
    height: 319px;
    left: 391px;
    top: 200px;
    background: #224957;
    border-radius: 8px;
}

.title {
    font-family: 'Rubik', sans-serif;
    font-weight: 500;
    font-size: 18px;
    line-height: 24px;
    color: #FFFFFF;
    margin-bottom: 20px;
}